body {
  background-color: lightblue;
  margin: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: darkblue;
  text-align: center;
  font-size: 32px;
}

p {
  font-family: Verdana, sans-serif;
  font-size: 20px;
  color: #333;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  color: gray;
}
